.instruction-container
  gap: 10px
  margin-bottom: 40px
  @media(max-width: 1024px)
    margin-bottom: 20px
  > div
    gap: 10px
  
.input-wrapper
  position: relative
  width: fit-content
  .error
    position: absolute
    right: 0
    top: -20px
    color: red
  input
    &:focus
      border-bottom-color: rgba(0, 109, 172, 1)


.file-btn-wrapper, .back-btn
  color: white
  background-color: var(--mainColor)
  width: fit-content
  cursor: pointer
  padding: 7px
  transition: var(--animationTransition)
  @media(max-width: 590px)
    svg
      width: 25px
      height: auto
  @media(min-width: 591px)
    &:hover
      background-color: var(--greenColor)


.file-choice-container
  gap: 15px
  .file-wrapper
    gap: 10px
    @media(min-width: 591px)
      svg
        transition: var(--animationTransition)
        cursor: pointer
        &:hover
          color: red
    p
      cursor: pointer
    .file-btn
      color: white
      cursor: pointer



.option
  transition: var(--animationTransition)
  gap: 10px
  .circle
    content: ""
    border-radius: 50%
    border: 2px solid var(--mainColor)
    padding: 6px
    transition: var(--animationTransition)
  @media(min-width: 591px)
    &:hover
      color: var(--greenColor)
      .circle
        border-color: var(--greenColor)
  &.selected
    color: var(--greenColor)
    .circle
      border-color: var(--greenColor)
      background-color: var(--greenColor)



form 
  gap: 30px
  .input-container
    gap: 25px
    @media(max-width: 590px)
      gap: 15px
    input
      transition: var(--animationTransition)
      padding-bottom: 5px
      border-bottom: 1px solid rgba(0, 109, 172, 0.3)