header
  gap: 5px
  .img-wrapper
    opacity: 1
    img
      width: 180px
      max-width: 180px
      @media(max-width: 1600px)
        width: 12vw
      @media(max-width: 1024px)
        width: 17vw
      @media(max-width: 590px)
        width: 27vw
    @media(min-width: 591px)
      &:hover
        opacity: .69
  